@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/LeagueGothicRegular/LeagueGothicRegular.eot');
    src: url('../fonts/LeagueGothicRegular/LeagueGothicRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LeagueGothicRegular/LeagueGothicRegular.woff2') format('woff2'),
         url('../fonts/LeagueGothicRegular/LeagueGothicRegular.woff') format('woff'),
         url('../fonts/LeagueGothicRegular/LeagueGothicRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}