body{
background:url(../Image/Fon.png);	
padding:0px;
margin:0px;
}

.main{
	width:1002px;
	height:646px;
	background:white;
margin: 0.4% 15% 0.4% 15%;
}

header{
    padding-top:1px;
}

.contacts{
	list-style:none;
	text-align:right;
	margin-right:25px;
	color:#41a1b9;
	height:0px;
}

.logomain{
	display:flex;
	flex-direction:column-reverse;
}

.logo{
width: 250px;	
margin-left:25px;
}

.travel{
	display:grid;
	width:300px;
	text-align:center;
	color:#41a1b9;
}

.images{
    display: flex;
    flex-direction: row-reverse;
    margin: 25px 25px 2px 0px;
}

.images > a {
	padding-left: 20px;
    font-size: 11px;
    display: grid;
	text-align:center;
	color:#41a1b9;
}

.mainimage{
	width:100%;
	height:207px;
}

ul.table{
	 display: inline-table;
    margin: 0px;
    padding: 0px;
    list-style: none;
	position:absolute;
}
ul.table:after{
	display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.table > li{
	display:inline-grid;
	background:#343434;
	color:white;
    padding: 5px 36px 5px 35px;
    font-size: 17px;
}
ul.hidden{
    display:none;	
	list-style:none;
	padding:0px;
	font-size: 14px;
}
ul.table > li:hover > ul.hidden{
	display:block;
	padding:0px;
	margin:0px;
}
.table{
    display: flex;
    justify-content: space-between;
}
.news{
	width: 200px;
	background:#edeef0;
	text-align:center;
	    height: 259px;
		margin-top: 15px;
}
