body{
background:url(../Image/Fon.png);	
padding:0px;
margin:0px;
}

.main{
	width:1002px;
	height:100%;
	background:white;
margin: 0.4% 15% 0.4% 15%;
}

header{
    padding-top:1px;
}

.contacts{
	list-style:none;
	text-align:right;
	margin-right:25px;
	color:#41a1b9;
	height:0px;
}

.logomain{
	display:flex;
	flex-direction:column-reverse;
}

.logo{
width: 250px;	
margin-left:25px;
}

.travel{
	display:grid;
	width:300px;
	text-align:center;
	color:#41a1b9;
}

.images{
    display: flex;
    flex-direction: row-reverse;
    margin: 25px 25px 2px 0px;
}

.images > a {
	padding-left: 20px;
    font-size: 11px;
    display: grid;
	text-align:center;
	color:#41a1b9;
}

.mainimage{
	width:100%;
    height: 237px;
}

ul.table{
	 display: flex;
     flex-direction:row;
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

ul.table > li{
  background: black;
    color:white;
    width: 100%;
    height:100%;
    list-style: none;
    padding: 5px 0px 5px 0px;
}
ul.hidden{
   list-style: none;
    display: none;
    
    
}
ul.table > li:hover > ul.hidden{
	display:block;
    position: absolute;
    background: black;
    padding: 0px;
    width: 10%;
}


.table2{
    display: flex;
    justify-content: space-between;
}
.news{
	width: 200px;
	background:#edeef0;
	text-align:center;
	    height: 259px;
		
}
