
.Kristina img{
	width:20%;
	padding-left:13%;
}
 .Kristina{
  padding-left:450px;
	 
 }
 .border{
	 border-bottom:2px solid gray;
	margin-right:400px;
	margin-left:-15px;
 }
 h2{
	 text-align: center;
 }